/* styles.css */

body {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #141212;
    background: fixed;
    background-color: #4d46459d;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    
.container {
    max-width: 1000px;
    padding: 100px;
    background-color: #9432327e;
    box-shadow: 0 4px 8px rgba(54, 12, 12, 0.808);
    border-radius: 30px;
    padding: 40px 0 0 0; 
    text-align: left;
}

.container p {
    margin: 20px; 
}

.centered-image {
    display: block;
    margin: 20px auto;
}


h1 {
    font-size: 2em;
    color: #b31201;
    text-align: center;
}

p {
    line-height: 2;
    margin-bottom: 20px;
}

b {
    color: #b31201;
}

hr {
    border: 0;
    height: 1px;
    background: #000000;
    margin: 40px 0;
}

 